* {
  margin:0;}

body{
display: inherit;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #926239;

font-size: 17px;
line-height: 1.6;
}
.welcome-section {
display: inline-block;
height: 100vh;
width: 100%;

background-image: url(./../../images/beachshowcase.jpg);
background-size: cover;
background-position: center;

text-align: center;
}
h1 {
  display: block;
  font-size: 50px;
  margin-top: 220px;
}
a {
  min-width: 100px;
  max-width: 150px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 18px;

  padding: 10px 20px;

  color:#926239;

  border: #926239 1px solid;
  border-radius: 10px;
  margin-top: 30px;
}
p.welcome-section-content{
  font-size: 20px;
}
p {
  display: block;
  margin-block-end: 1em;
  margin-bottom: 20px;
}
.main-content {
  padding: 20px;
  background-color: #926239;
  color: #fff;
  text-align: center;
}
.second-content {
padding: 20px;
background-color:#f4f4f4;
text-align: center;
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-content-1, .footer-content-3 {
background: #926239;
color:#fff; 
}
.footer-content-element{
  padding: 20px;
}

